/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-light {
    --font-wight: var(--light-font-regular);
    --disabled-color:#666;
    --background-line-color: #d3d3d3;
    --start-gradient-color:#e7e7e7;
    --end-gradient-color:#1a1a1a;
}

:root.theme-dark {
    --font-wight: var(--dark-font-regular);
    --background-color: #000000;
    --accent-color: #00CC14;
    --disabled-color: #007A0C;
    --text-stroke:#000;
    --background-line-color:#000;
    --start-gradient-color:#007f0c;
    --end-gradient-color:#004306;


}