/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
--main-font: 'Inter-Variable';
--accent-font: 'PressStart2P-Regular';
--light-font-regular: 400;
--dark-font-regular: 465;

--background-color: #FFFFFF;
--accent-color: #000000;
--text-stroke:#fff;


--small-general-size: 14px;
--general-size: 18px;
--title-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem); 
--subtitle-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
--floppy-size:21px;

}